/* AdminDashboard.css */
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
  }
  /* Card Styles */
  .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
  .card i {
    font-size: 36px;
    margin-bottom: 10px;
  }
  /* Search Bar Styles */

  /* Table Styles */
table {
  width: 90%;                    /* Full-width table */
  border-collapse: collapse;      /* Remove gaps between cells */
margin: 0 auto;
}

table, th, td {
  border: 1px solid #ddd;         /* Light grey border around the table */
}

th, td {
  padding: 10px;                  /* Padding inside cells */
  text-align: left;               /* Align text to the left */
}

th {
  background-color: #f8f9fa;      /* Light background for table headers */
}
  /* Remove hover effect from action button */
  .btn-actions {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .btn-actions:hover {
    background-color: #dc3545; /* Keep the color the same on hover */
  }
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .flex-container .card {
    margin-right: 20px;
  }